h1 {
  color: #004397;
  text-align: center; }

.carousel {
  margin: 0 auto;
  position: relative;
  width: 60vw;
  max-width: 900px;
  height: 40vw;
  max-height: 600px;
  overflow: hidden; }

.images {
  position: absolute;
  width: 100%;
  height: 100%; }
  .images img {
    width: 100%;
    position: absolute;
    transition: .5s;
    left: 0;
    z-index: 0; }

.navigation, .scroll_left, .scroll_right {
  display: table;
  position: absolute;
  z-index: 10;
  width: 60px;
  height: 100%; }
  .navigation a, .scroll_left a, .scroll_right a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    transition: .5s; }
    .navigation a:hover, .scroll_left a:hover, .scroll_right a:hover {
      background-color: rgba(255, 255, 255, 0.3); }
  .navigation img, .scroll_left img, .scroll_right img {
    height: 30px; }

.scroll_left {
  left: 0; }

.scroll_right {
  right: 0; }

.dots {
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 30px;
  width: 60%;
  margin-left: -30%;
  padding: 0;
  list-style: none;
  text-align: center;
  cursor: default; }
  .dots li {
    display: inline-block;
    padding: 0 5px;
    opacity: 0.6; }
    .dots li img {
      width: 10px; }
  .dots .active {
    opacity: 1; }
